.btn {
    background-color: #00ff1e;
    border: none;
    color: black;
    padding: 8px 70px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;    
  }
  
  .btn:hover {
    background-color: #00ff1e;
    color: white;
  }

  
  tr:hover{
    background-color: #00ff1e;
  }

  .nothover:hover{
    background-color: rgb(216, 216, 234);
  }