@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <style>
        body {
            background-image: url('/photos/background7.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        form {
            padding: 20px;
            margin-top: 20px;
            border: 1px solid #000000;
            border-radius: 5px;
            color: rgb(0, 0, 0);
        }

        h1 {
            margin-top: 20px;
            color: rgb(0, 0, 0); 
        }
    </style>
</head>

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <section>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" id="inputEmail" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" id="inputPassword" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" id="confirmPassword" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="btn btn-primary w-100">Register</button>
                <hr />
                <div>
                    <p class="text-center">
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account? Log in</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
