@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background-image: url('/photos/background8.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p text->Hocam bu sayfayi oylesine kaldirmadim. Pek mantik barindirmasa da steam profil fotografimi ekleyerek ufak bir easter egg birakmak istedim.</p>